/**
 * Accordion
 */

/* Default */
.accordion {
  border: 1px solid #e5e5e5;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
}

.accordion-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.accordion-toggle {
  box-sizing: border-box;
  display: block;
  width: 100%;
  cursor: pointer;
  padding: 1rem;
  margin: 0;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fff;
  font: inherit;
  line-height: inherit;
  text-align: left;
}

.accordion-content {
  padding: 0 1rem;
  border-bottom: 1px solid #e5e5e5;
}

.accordion-content > * {
  margin: 1rem 0;
}

/* With JS initialized */
.js-accordion .accordion-toggle {
  transition: background-color 0.333s ease, box-shadow 0.333s ease;
}

.js-accordion .accordion-content {
  border-bottom: 0;
  transition: max-height 0.5s ease, opacity 0.5s linear;
}

.js-accordion .accordion-panel.is-active .accordion-toggle {
  background-color: #fafafa;
  box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.15);
}

.js-accordion .accordion-panel.is-transitioning .accordion-toggle + *,
.js-accordion .accordion-panel.is-active .accordion-toggle + * {
  border-bottom: 1px solid #e5e5e5;
}
